$white-color: #fff;
$black-color: #000;
$green-color: #008000;
$navbar-font-color: #3572b0;
$header-blocktitle-color: #205081;
$header-blocksubtitle-color: #999;
$header-blockbtn-color: #67ab49;
$header-blockbtnhover-color: #14892c;
$heapchat-interface-color: #59afe1;

$navbar-screen2500: 2500px;
$navbar-screen2010: 2010px;
$navbar-screen1800: 1800px;
$navbar-screen1715: 1715px;
$navbar-screen1465: 1465px;
$navbar-screen1367: 1367px;
$navbar-screen1150: 1150px;
$navbar-screen1006: 1006px;
$navbar-screen767: 767px;


$header-screen804: 804px;
$header-screen641: 641px;
$header-screen435: 435px;

$interface-screen1030: 1030px;
$interface-screen904: 904px;
$interface-screen769: 769px;

$crossplatform-screen1006: 1006px;
$crossplatform-screen853: 853px;
$crossplatform-screen768: 768px;
