$white-color: #fff;
$black-color: #000;
$green-color: #008000;
$navbar-font-color: #3572b0;
$header-blocktitle-color: #205081;
$header-blocksubtitle-color: #999;
$header-blockbtn-color: #67ab49;
$header-blockbtnhover-color: #14892c;
$heapchat-interface-color: #59afe1;
$mapblock-border-color: #e5e5e5;
$lock-block-btn: #1d4874;
$feature-color: #707070;
$feature-bg: #f5f5f5;
$footer-color: #999;

$navbar-screen2500: 2500px;
$navbar-screen2010: 2010px;
$navbar-screen1800: 1800px;
$navbar-screen1715: 1715px;
$navbar-screen1465: 1465px;
$navbar-screen1367: 1367px;
$navbar-screen1150: 1150px;
$interface-screen1030: 1030px;
$screen1006: 1006px;
$screen959: 959px;
$interface-screen904: 904px;
$crossplatform-screen853: 853px;
$screen804: 804px;
$screen769: 769px;
$navbar-screen767: 767px;
$screen641: 641px;
$header-screen435: 435px;
$screen360: 360px;

$font11: 11px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font32: 32px;
$font59: 59px;
