@media screen and (max-width: 769px) {
  .header-block-container {
    height: 537px;

    .header-block {
      margin: 0;

      .header-block-box {
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 641px) {
  .header-block-container {
    background-image: url('../img/header-block-bg-mobile.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 455px;

    .header-block-title {
      font-size: 32px;
      margin-bottom: 22px;
    }

    .header-block-sub-title {
      font-size: 24px;
      margin-bottom: 0;
    }

    .header-block {
      margin-left: 0;

      .header-block-box {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 435px) {
  .header-block-container {
    .header-block {
      margin-right: 0;

      .header-block-box {
        margin-right: 0;
      }
    }
  }

  .header-block-title {
    margin-top: 45px;
  }
}
