.header-block {
  background-image: url('../img/header-block-bg.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 491px;
  margin: 0 24px;
  padding-bottom: 80px;

  .header-block-box {
    margin: 0 0 23px;
    text-align: center;
  }

  .header-block-title {
    color: $header-blocktitle-color;
    font-size: $font59;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 25px;
    margin-top: 70px;
  }

  .header-block-sub-title {
    color: $header-blocksubtitle-color;
    margin-bottom: 20px;
  }

  .header-block-btn {
    background-color: $header-blockbtn-color;
    border: 0;
    color: $white-color;
    font-size: $font16;
    font-weight: bold;
    margin: 25px 0 65px;
    padding: 10px 16px;

    &:hover,
    &:focus {
      background-color: $header-blockbtnhover-color;
    }
  }

  @media screen and (max-width: $screen804) {
    height: 537px;
    margin: 0;

    .header-block-box {
      margin: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: $screen641) {
    background-image: url('../img/header-block-bg-mobile.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 455px;
    margin-left: 0;

    .header-block-title {
      font-size: $font32;
      margin-bottom: 22px;
    }

    .header-block-sub-title {
      font-size: $font24;
      margin-bottom: 0;
    }

    .header-block-box {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $header-screen435) {
    margin-right: 0;

    .header-block-box {
      margin-right: 0;
    }

    .header-block-title {
      margin-top: 45px;
    }
  }
}




