.navbar-block {
  @media screen and (max-width: 2601px) {
    .navbar-container {
      margin-left: 30%;
    }
  }

  @media screen and (max-width: 2320px) {
    .navbar-container {
      margin-left: 28%;
    }
  }

  @media screen and (max-width: 2001px) {
    .navbar-container {
      margin-left: 25%;
    }
  }

  @media screen and (max-width: 1750px) {
    .navbar-container {
      margin-left: 21%;
    }
  }

  @media screen and (max-width: 1450px) {
    .navbar-container {
      margin-left: 14%;
    }
  }

  @media screen and (max-width: 1227px) {
    .navbar-container {
      margin-left: 8%;
    }
  }

  @media screen and (max-width: 1106px) {
    .navbar-list {
      margin-left: 20px;
    }
  }

  @media screen and (max-width: 965px) {
    .navbar-container {
      margin-left: 8%;
    }

    .navbar-list {
      margin-left: 90px;

      .drop-button {
        font-size: 14px;
        margin-right: 0;
        padding-top: 10px;
      }

      .sign-up-button {
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 945px) {
    .navbar-list {
      margin-left: 5%;
    }
  }

  @media screen and (max-width: 896px) {
    .navbar-container {
      margin-left: 9%;
    }

    .navbar-list {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 815px) {
    .navbar-list {
      margin-left: 0;
    }

    .navbar-container {
      margin-left: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .navbar-container {
      margin-left: 0;
    }

    .navbar-list {
      background-color: $navbar-font-color;

      .navbar-list-item {
        padding: 0 25px;

        .list-item-color {
          color: $white-color;
        }
      }

      .primary-list-item {
        display: none;
      }

      .secondary-list-item {
        display: block;
      }

      .sign-up-button {
        background-color: $navbar-font-color;
        border: 0;
        border-radius: 0;
        color: $white-color;
        font-size: 14px;
        font-weight: normal;
        margin-left: 5px;
        margin-top: 0;
        padding: 5px 0 0;

        &:hover {
          background-color: $navbar-font-color;
          color: $white-color;
        }
      }
    }
  }
}

.collapse-menu {
  @media screen and (max-width: 2601px) {
    .collapse-menu-list {
      padding-left: 820px;
    }
  }

  @media screen and (max-width: 2320px) {
    .collapse-menu-list {
      padding-left: 690px;
    }
  }

  @media screen and (max-width: 2001px) {
    .collapse-menu-list {
      padding-left: 540px;
    }
  }

  @media screen and (max-width: 1750px) {
    .collapse-menu-list {
      padding-left: 400px;
    }
  }

  @media screen and (max-width: 1450px) {
    .collapse-menu-list {
      padding-left: 240px;
    }
  }

  @media screen and (max-width: 1227px) {
    .collapse-menu-list {
      padding-left: 120px;
    }
  }

  @media screen and (max-width: 1106px) {
    .collapse-menu-list {
      padding-left: 80px;
    }
  }
}

@media screen and (max-width: 965px) {
  .nav > li > a {
    padding: 10px;
  }

  .navbar-list-item {
    .list-item-color {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 896px) {
  .nav > li > a {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default {
    .navbar-nav > li > a {
      padding: 5px;
    }
  }

  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: -23px;
    margin-right: -23px;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-menu-btn {
    margin: 30px 15px 8px 0;
  }
}
