.navbar {
  margin: auto;
  position: relative;
  width: 40%;

  .navbar-nav {
    display: inline-block;
    float: none;
    margin-left: 12%;
    vertical-align: top;

    @media screen and (max-width: $navbar-screen767) {
      margin: 0;
    }
  }

  .navbar-collapse {
    text-align: center;

    @media screen and (max-width: $screen1006) {
      .nav > li > a {
        padding: 10px 5px;
      }
    }

    @media screen and (max-width: $navbar-screen767) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media screen and (max-width: $navbar-screen2500) {
    width: 55%;
  }

  @media screen and (max-width: $navbar-screen2010) {
    width: 60%;
  }

  @media screen and (max-width: $navbar-screen1715) {
    width: 70%;
  }

  @media screen and (max-width: $navbar-screen1465) {
    width: 85%;

    .navbar-nav {
      margin-left: 0;
    }
  }

  @media screen and (max-width: $navbar-screen1150) {
    width: 100%;
  }

  @media screen and (max-width: $navbar-screen767) {
    .navbar-nav {
      display: block;
    }

    .navbar-collapse {
      text-align: left;
    }

    .navbar-default {
      .navbar-nav > li > a {
        padding: 5px;
      }
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-left: -23px;
      margin-right: -23px;
    }

    .mobile-menu-btn {
      margin: 30px 15px 8px 0;
    }
  }
}

.navbar-block {
  background-color: $white-color;
  border: 0;
  margin-bottom: 0;

  .navbar-container {
    padding: 0 24px;
  }

  .brand-logo {
    background-image: url('../img/brand-logo.jpg');
    height: 58px;
    margin: 20px 0 10px;
    padding: 0;
    width: 182px;
  }

  .navbar-list {

    .navbar-list-item {
      color: $navbar-font-color;
      font-size: $font16;
      padding: 25px 0;

      .list-item-color {
        color: $navbar-font-color;
      }

      @media screen and (max-width: $screen1006) {
        .list-item-color {
          font-size: $font14;
        }
      }
    }

    .primary-list-item {
      display: block;
    }

    .secondary-list-item {
      display: none;
    }

    .drop-button {
      background-color: $white-color;
      border: 0;
      outline: 0;
      padding-left: 0;
      padding-right: 26px;
      padding-top: 14px;

      &::after {
        background: url('../img/icon_right.svg') no-repeat;
        background-position: right;
        background-size: 8px;
        content: '';
        height: 15px;
        position: absolute;
        top: 42px;
        width: 20px;

        @media screen and (max-width: $screen1006) {
          background-size: 7px;
          top: 39px;
        }
      }

      &:focus::after {
        background-size: 10px;
        margin-left: 5px;
        top: 37px;
        transform: rotate(90deg);

        @media screen and (max-width: $screen1006) {
          background-size: 8px;
          top: 34px;
        }
      }
    }

    .sign-up-button {
      background-color: $white-color;
      border: 1px solid $green-color;
      border-radius: 4px;
      color: $green-color;
      font-size: $font14;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 8px;
      padding: 5px 10px;

      &:hover,
      &:focus {
        background-color: $green-color;
        color: $white-color;
        outline: none;
      }
    }
  }

  @media screen and (max-width: $screen1006) {
    .navbar-list {
      .drop-button {
        font-size: $font14;
        margin-right: 0;
        padding-top: 10px;
      }

      .sign-up-button {
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: $navbar-screen767) {
    .navbar-container {
      margin-left: 0;
    }

    .navbar-list {
      background-color: $navbar-font-color;

      .navbar-list-item {
        padding: 0 25px;

        .list-item-color {
          color: $white-color;
        }
      }

      .primary-list-item {
        display: none;
      }

      .secondary-list-item {
        display: block;
      }

      .sign-up-button {
        background-color: $navbar-font-color;
        border: 0;
        border-radius: 0;
        color: $white-color;
        font-size: $font14;
        font-weight: normal;
        margin-left: 5px;
        margin-top: 0;
        padding: 5px 0 0;

        &:hover {
          background-color: $navbar-font-color;
          color: $white-color;
        }
      }
    }
  }
}

.collapse-menu {
  background-color: $navbar-font-color;
  display: none;
  margin: 0;
  width: 100%;

  .collapse-menu-list {
    display: block;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 30%;

    @media screen and (max-width: $navbar-screen1800) {
      padding-left: 20%;
    }

    @media screen and (max-width: $navbar-screen1367) {
      padding-left: 15%;
    }

    @media screen and (max-width: $screen1006) {
      padding-left: 5%;

      .collapse-menu-item {
        padding: 0 5px;
      }
    }
  }

  .collapse-menu-item {
    display: inline;
    font-size: $font16;
    padding: 0 15px;
  }

  .collapse-item-color {
    color: $white-color;
    font-size: $font16;

    &:hover {
      text-decoration: none;
    }
  }
}

.navbar > .container {
  .navbar-brand,
  .navbar > .container-fluid {
    .navbar-brand {
      margin-left: 0;
    }
  }
}
